CMS_GITHUB_TOKEN=
CMS_GITHUB_REPO=iconicaditya/college

DATABASE_URL=postgresql://neondb_owner:npg_uLpzhl4R6aDM@ep-muddy-dust-azc0o4a6.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require

NEXTAUTH_SECRET=I4GfNhrIFEfRwL5yfgX8A6uZvTagk327HGqAAnXWe94
NEXTAUTH_URL=http://localhost:3000

ADMIN_PASSWORD=Nepal!@#$1234
CUSTOMER_PASSWORD=Nepal@1234

CLOUDINARY_API_KEY=699758635622569
CLOUDINARY_CLOUD_NAME=mp2ulogo
CLOUDINARY_API_SECRET=bDtEZT461fFCTeuVgThaKfecgVY